﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="_content/Syncfusion.Blazor/styles/bootstrap4.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="loading">
        <div class="spinner-grow text-danger"></div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
