﻿@inherits LayoutComponentBase

<div id="loading">
    <div class="spinner-grow text-danger"></div>
</div>

<div class="main">
    <div class="top-row px-4">
        <Menu></Menu>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
