﻿
<SfMenu Items="@menuItems"></SfMenu>

@code{
    private List<MenuItem> menuItems = new List<MenuItem>
    {
            new MenuItem
            {
                Text = "Заявки",
                IconCss = "e-icons orders-menu-icon",
                Url = "/"
            },
            new MenuItem
            {
                Text = "Клиенты",
                IconCss = "e-icons customers-menu-icon",
                Url = "/customers"
            },
            new MenuItem
            {
                Text = "Продукция",
                IconCss = "e-icons products-menu-icon",
                Url = "/products"
            },
            //new MenuItem
            //{
            //    Text = "Выйти",
            //    IconCss = "e-icons logout-menu-icon",
            //    Url = "/logout",
            //}
    };
}
