﻿@page "/customers"
@attribute [Authorize]

<h3>Клиенты</h3>

<SfToast @ref="toast" Timeout=3000 Content="@message" CssClass="@messageStyle">
    <ToastPosition X="Right"></ToastPosition>
</SfToast>

<SfGrid DataSource="@customers" AllowPaging="true" AllowSorting="true" AllowFiltering="true" Locale="ru" Toolbar="@toolbar">
    <GridPageSettings PageSize="15"></GridPageSettings>
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog">
        <Template>
            @{
                var customer = (context as CustomerViewModel);
                <EditCustomer Customer="@customer"></EditCustomer>
            }
        </Template>
    </GridEditSettings>
    <GridEvents OnActionBegin="OnBeginHandler" TValue="CustomerViewModel"></GridEvents>
    <GridColumns>
        <GridColumn Field=@nameof(CustomerViewModel.Name) Width="130"></GridColumn>
        <GridColumn Field=@nameof(CustomerViewModel.Phone) Width="50"></GridColumn>
        <GridColumn Field=@nameof(CustomerViewModel.CustomerTypeName) Width="50"></GridColumn>
        <GridColumn Field=@nameof(CustomerViewModel.UNP) Width="40"></GridColumn>
        <GridColumn Field=@nameof(CustomerViewModel.ContractNumber) Width="40">
            <Template>
                @{
                    var customer = (context as CustomerViewModel);

                    if (string.IsNullOrWhiteSpace(customer.ContractNumber))
                    {
                        <span class="e-icons cross-icon"></span>
                    }
                    else
                    {
                        <a @onclick="@(() => DownloadContract(customer))" title="Договор"><span class="e-icons word-icon"></span></a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Field=@nameof(CustomerViewModel.Address) Width="80"></GridColumn>
        <GridColumn Field=@nameof(CustomerViewModel.DeliveryAddress) Width="80"></GridColumn>
    </GridColumns>
</SfGrid>

@inject ICustomerService customerService
@inject IDocumentService documentService
@inject IBlazorDownloadFileService downloadFileService
@inject Spinner spinner

@code {
    private SfToast toast;
    private IEnumerable<string> toolbar = new[] { "Add", "Edit", "Delete" };

    private string message;
    private string messageStyle;
    public List<CustomerViewModel> customers;

    protected override void OnInitialized()
    {
        spinner.ShowAsync();

        LoadCustomers();

        if (customers == null)
        {
            Failed("Не удалось загрузить клиентов");
        }

        spinner.HideAsync();
    }

    private void OnBeginHandler(ActionEventArgs<CustomerViewModel> args)
    {
        spinner.ShowAsync();

        var customer = args.Data;
        if (args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
        {
            if (args.Action == "Add")
            {
                var response = customerService.Add(customer);
                if (response.IsSuccess)
                {
                    LoadCustomers();
                    StateHasChanged();
                    Success("Клиент успешно добавлен");
                }
                else
                {
                    Failed("Не удалось добавить клиента");
                }
            }
            else
            {
                var response = customerService.Update(customer);
                if (response.IsSuccess)
                {
                    LoadCustomers();
                    StateHasChanged();
                    Success("Клиент успешно изменен");
                }
                else
                {
                    Failed("Не удалось изменить клиента");
                }
            }

            args.Cancel = true;
        }
        else if (args.RequestType == Syncfusion.Blazor.Grids.Action.Delete)
        {
            var response = customerService.Delete(customer.Id);
            if (response.IsSuccess)
            {
                LoadCustomers();
                StateHasChanged();
                Success("Клиент успешно удален");
            }
            else
            {
                Failed("Не удалось удалить клиента");
            }

            args.Cancel = true;
        }

        spinner.HideAsync();
    }

    private void LoadCustomers()
    {
        var data = customerService.Get();
        if (data.IsSuccess)
        {
            customers = data.Data.ToList();
        }
    }

    private void DownloadContract(CustomerViewModel customer)
    {
        spinner.ShowAsync();

        var result = documentService.GetContract(customer);
        if (result.IsSuccess)
        {
            downloadFileService.DownloadFile("Договор.doc", result.Data, contentType: "application/vnd.openxmlformats-officedocument.wordprocessingml.document");
        }
        else
        {
            Failed("Не удалось сформировать договор");
        }

        spinner.HideAsync();
    }

    private async Task Success(string message)
    {
        this.message = message;
        messageStyle = "e-toast-success";
        await Task.Delay(100);
        await toast.Show();
    }

    private async Task Failed(string message)
    {
        this.message = message;
        messageStyle = "e-toast-danger";
        await Task.Delay(100);
        await toast.Show();
    }
}
