﻿@page "/login"

@{
    Layout = "_Layout";
}

@model poisk.webapp.Pages.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>

        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Вход</h3>
                            <form method="post" onsubmit="startLoading()">
                                <div class="form-group mb-3">
                                    <input id="inputLogin" type="text" asp-for="LoginParams.Login" placeholder="Логин" required="" autofocus="" class="form-control border-0 shadow-sm px-4">
                                    <span class="text-danger" asp-validation-for="LoginParams.Login" />
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputPassword" type="password" asp-for="LoginParams.Password" placeholder="Пароль" required="" class="form-control border-0 shadow-sm px-4">
                                    <span class="text-danger" asp-validation-for="LoginParams.Password" />
                                </div>

                                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                                <input type="submit" class="btn btn-outline-dark btn-block mb-2 shadow-sm" value="Войти"/>
                            </form>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>

<style>
    .login,
    .image {
        min-height: 100vh;
    }

    .bg-image {
        background-image: url('@Url.Content("~/images/logo.jpg")');
        background-size: cover;
        background-position: center center;
    }

    #loading {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        position: fixed;
        width: 100%;
        z-index: 10000;
        top: 0;
        text-align: center;
        line-height: 100vh;
        display: none;
    }

</style>

<script>
    function startLoading() {
        document.getElementById('loading').style.display = 'block';
    }
</script>

