﻿@page "/"
@attribute [Authorize]

@using Syncfusion.Blazor.Kanban

<h3>Заявки</h3>

@if (orders != null)
{
    <SfToast @ref="toast" Timeout=3000 Content="@message" CssClass="@messageStyle">
        <ToastPosition X="Right"></ToastPosition>
    </SfToast>

    <SfDialog Width="300px" Height="400px" ShowCloseIcon="true" IsModal="true" @bind-Visible="@IsTTNModalVisible">
        <DialogTemplates>
            <Header> Данные для ТТН </Header>
            <Content>
                <SfTextBox Placeholder='Машина' @bind-Value="@(CurrentInvoice.Car)" FloatLabelType='@FloatLabelType.Auto'></SfTextBox>
                <SfTextBox Placeholder='Водитель' @bind-Value="@(CurrentInvoice.Driver)" FloatLabelType='@FloatLabelType.Auto'></SfTextBox>
                <SfTextBox Placeholder='Путевой лист №' @bind-Value="@(CurrentInvoice.Waybill)" FloatLabelType='@FloatLabelType.Auto'></SfTextBox>
                <SfTextBox Placeholder='ТТН № (например ЕУ № 1071344)' @bind-Value="@(CurrentInvoice.TTNNumber)" FloatLabelType='@FloatLabelType.Auto'></SfTextBox>
            </Content>
        </DialogTemplates>
        <DialogButtons>
            <DialogButton Content="Скачать" IsPrimary="true" OnClick="@DownloadAfterDialog" />
            <DialogButton Content="Отмена" OnClick="@CloseDialog" />
        </DialogButtons>
    </SfDialog>

    <SfTab CssClass="default-tab">
        <TabItems>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Таблица"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <SfGrid DataSource="@orders" AllowPaging="true" AllowSorting="true" AllowFiltering="true" Locale="ru" Toolbar="@toolbar">
                        <GridPageSettings PageSize="15"></GridPageSettings>
                        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog">
                            <Template>
                                @{
                                    var order = (context as OrderViewModel);
                                    <EditOrder Order="@order"></EditOrder>
                                }
                            </Template>
                        </GridEditSettings>
                        <GridEvents OnActionBegin="OnBeginHandler" TValue="OrderViewModel"></GridEvents>
                        <GridTextWrapSettings WrapMode="WrapMode.Content"></GridTextWrapSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(OrderViewModel.CustomerName) Width="200"></GridColumn>
                            <GridColumn Field=@nameof(OrderViewModel.Phone) Width="100"></GridColumn>
                            <GridColumn Field=@nameof(OrderViewModel.State) Width="70"></GridColumn>
                            <GridColumn Field=@nameof(OrderViewModel.ItemsSummary) Width="200">
                                <Template>
                                    @{
                                        var order = (context as OrderViewModel);
                                        <div class="e-card-content">@order.ItemsSummary</div>
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn Field=@nameof(OrderViewModel.Note) Width="150"></GridColumn>
                            <GridColumn Field=@nameof(OrderViewModel.AgreementNumber) Width="80">
                                <Template>
                                    @{
                                        var order = (context as OrderViewModel);

                                        <a @onclick="@(() => DownloadAgreement(order))" title="Соглашение"><span class="e-icons word-icon"></span></a>

                                        @if (order.IsCertificateNeeded)
                                        {
                                            <a @onclick="@(() => DownloadCertificate(order))" title="Удостоверение"><span class="e-icons word-icon"></span></a>
                                        }

                                        <a @onclick="@(() => OpenDialog(DocType.Invoice, order))" title="ТТН"><span class="e-icons excel-icon"></span></a>

                                        <a @onclick="@(() => OpenDialog(DocType.WholePack, order))" title="Скачать всё"><span class="e-icons all-docs-icon"></span></a>
                                    }
                                </Template>
                            </GridColumn>
                        </GridColumns>
                    </SfGrid>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Доска"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <SfButton @onclick="@(() => OpenDialog(DocType.WholePackInProgress))" CssClass="e-outlined create-all-docs-btn">Подготовить документы к отгрузке</SfButton>
                    <div style="padding-left: 10px;">
                        <div>Всего мест к отгрузке: @(orders.Where(x => x.State == SharedData.InProgressOrderStatus).Sum(x => x.TotalPlaces))</div>
                        <div>Всего вес к отгрузке: @(orders.Where(x => x.State == SharedData.InProgressOrderStatus).Sum(x => x.TotalWeight)) кг.</div>
                    </div>
                    <SfKanban TValue="OrderViewModel" KeyField="State" DataSource="orders">
                        <KanbanColumns>
                            <KanbanColumn HeaderText="@SharedData.NewOrderStatus" KeyField=@(new List<string> { SharedData.NewOrderStatus })></KanbanColumn>
                            <KanbanColumn HeaderText="@SharedData.InProgressOrderStatus" KeyField=@(new List<string> { SharedData.InProgressOrderStatus })></KanbanColumn>
                            <KanbanColumn HeaderText="@SharedData.DoneOrderStatus" KeyField=@(new List<string> { SharedData.DoneOrderStatus }) AllowToggle="true"></KanbanColumn>
                        </KanbanColumns>
                        <KanbanEvents TValue="OrderViewModel" ActionComplete="OnDrag" DialogOpen="OnKanbanCardOpen"></KanbanEvents>
                        <KanbanCardSettings HeaderField="Title" ContentField="Summary">
                            <Template>
                                @{
                                    var data = (OrderViewModel)context;
                                    <h5 class="e-card-header">
                                        @data.Title
                                    </h5>
                                    <div class="e-card-content">@data.Summary</div>
                                    <div class="e-card-footer">

                                        <a @onclick="@(() => DownloadAgreement(data))" title="Соглашение"><span class="e-icons word-icon"></span></a>

                                        @if (data.IsCertificateNeeded)
                                        {
                                            <a @onclick="@(() => DownloadCertificate(data))" title="Удостоверение"><span class="e-icons word-icon"></span></a>
                                        }

                                        <a @onclick="@(() => OpenDialog(DocType.Invoice, data))" title="ТТН"><span class="e-icons excel-icon"></span></a>

                                        <a @onclick="@(() => OpenDialog(DocType.WholePack, data))" title="Скачать всё"><span class="e-icons all-docs-icon"></span></a>
                                    </div>
                                }
                            </Template>
                        </KanbanCardSettings>
                    </SfKanban>
                </ContentTemplate>
            </TabItem>
        </TabItems>
    </SfTab>
}

@inject IOrderService orderService
@inject IDocumentService documentService
@inject IBlazorDownloadFileService downloadFileService
@inject Spinner spinner

@code {
    private SfToast toast;
    private IEnumerable<string> toolbar = new[] { "Add", "Edit", "Delete" };

    private string message;
    private string messageStyle;
    private List<OrderViewModel> orders;

    private bool IsTTNModalVisible { get; set; } = false;
    private DocType CurrentDialogAction { get; set; }
    private OrderViewModel CurrentOrder { get; set; }
    private InvoiceViewModel CurrentInvoice { get; set; } = new InvoiceViewModel();

    protected override void OnInitialized()
    {
        spinner.ShowAsync();

        LoadOrders();

        if (orders == null)
        {
            Failed("Не удалось загрузить заказы");
        }

        spinner.HideAsync();
    }

    private void LoadOrders()
    {
        var data = orderService.Get();
        if (data.IsSuccess)
        {
            orders = data.Data.ToList();
        }
    }

    private void OnBeginHandler(Syncfusion.Blazor.Grids.ActionEventArgs<OrderViewModel> args)
    {
        spinner.ShowAsync();

        var order = args.Data;
        if (args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
        {
            if (args.Action == "Add")
            {
                var response = orderService.Add(order);
                if (response.IsSuccess)
                {
                    LoadOrders();
                    StateHasChanged();
                    Success("Заказ успешно добавлен");
                }
                else
                {
                    Failed("Не удалось добавить заказ");
                }
            }
            else
            {
                var response = orderService.Update(order);
                if (response.IsSuccess)
                {
                    LoadOrders();
                    StateHasChanged();
                    Success("Заказ успешно изменен");
                }
                else
                {
                    Failed("Не удалось изменить заказы");
                }
            }

            args.Cancel = true;
        }
        else if (args.RequestType == Syncfusion.Blazor.Grids.Action.Delete)
        {
            var response = orderService.Delete(order.Id);
            if (response.IsSuccess)
            {
                LoadOrders();
                StateHasChanged();
                Success("Заказ успешно удален");
            }
            else
            {
                Failed("Не удалось удалить заказ");
            }

            args.Cancel = true;
        }

        spinner.HideAsync();
    }

    private void OnDrag(Syncfusion.Blazor.Kanban.ActionEventArgs<OrderViewModel> args)
    {
        spinner.ShowAsync();

        if (args.RequestType == "cardChange")
        {
            if (args.ChangedRecords.Any())
            {
                var order = args.ChangedRecords.First();
                var response = orderService.Update(order);
                if (!response.IsSuccess)
                {
                    Failed("Не удалось обновить заказ");
                }
            }
        }

        spinner.HideAsync();
    }

    private void OnKanbanCardOpen(DialogOpenEventArgs<OrderViewModel> args)
    {
        args.Cancel = true;
    }

    private void DownloadCertificate(OrderViewModel order)
    {
        spinner.ShowAsync();

        var result = documentService.GetCertificate(order);
        if (result.IsSuccess)
        {
            downloadFileService.DownloadFile($"Удостоверение-{order.AgreementNumber}.doc", result.Data, contentType: "application/vnd.openxmlformats-officedocument.wordprocessingml.document");
        }
        else
        {
            Failed(result.ErrorMessage);
        }

        spinner.HideAsync();
    }

    private void DownloadAgreement(OrderViewModel order)
    {
        spinner.ShowAsync();

        var result = documentService.GetAgreement(order);
        if (result.IsSuccess)
        {
            downloadFileService.DownloadFile($"Соглашение-{order.AgreementNumber}.doc", result.Data, contentType: "application/vnd.openxmlformats-officedocument.wordprocessingml.document");
        }
        else
        {
            Failed(result.ErrorMessage);
        }

        spinner.HideAsync();
    }

    private void DownloadInvoice(OrderViewModel order)
    {
        spinner.ShowAsync();

        var result = documentService.GetInvoice(order, CurrentInvoice);
        if (result.IsSuccess)
        {
            downloadFileService.DownloadFile($"ТТН-{order.AgreementNumber}.xlsx", result.Data, contentType: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet");
        }
        else
        {
            Failed(result.ErrorMessage);
        }

        spinner.HideAsync();
    }

    private void DownloadWholeDocsPack(params OrderViewModel[] order)
    {
        spinner.ShowAsync();

        var result = documentService.GetDocumentsPack(order, CurrentInvoice);
        if (result.IsSuccess)
        {
            downloadFileService.DownloadFile("Документы.zip", result.Data, contentType: "application/zip");
        }
        else
        {
            Failed(result.ErrorMessage);
        }

        spinner.HideAsync();
    }

    private void CloseDialog()
    {
        IsTTNModalVisible = false;
    }

    private void OpenDialog(DocType docType, OrderViewModel order = null)
    {
        this.CurrentDialogAction = docType;
        IsTTNModalVisible = true;
        CurrentOrder = order;
    }

    private void DownloadAfterDialog()
    {
        IsTTNModalVisible = false;
        switch (CurrentDialogAction)
        {
            case DocType.Invoice:
                DownloadInvoice(CurrentOrder);
                break;
            case DocType.WholePack:
                DownloadWholeDocsPack(CurrentOrder);
                break;
            case DocType.WholePackInProgress:
                DownloadWholeDocsPack(orders.Where(x => x.State == SharedData.InProgressOrderStatus).ToArray());
                break;
        }

        CurrentOrder = null;
        CurrentInvoice = new InvoiceViewModel();
    }

    private async Task Success(string message)
    {
        this.message = message;
        messageStyle = "e-toast-success";
        await Task.Delay(100);
        await toast.Show();
    }

    private async Task Failed(string message)
    {
        this.message = message;
        messageStyle = "e-toast-danger";
        await Task.Delay(100);
        await toast.Show();
    }

    private enum DocType
    {
        Invoice,
        WholePack,
        WholePackInProgress
    }
}

<style>

    .e-card-content, word-wrap {
        white-space: pre;
    }

    .e-card-footer {
        display: block !important;
    }

    .create-all-docs-btn {
        margin: 10px;
    }
</style>
