﻿@page "/products"
@attribute [Authorize]

<h3>Продукция</h3>

<SfToast @ref="toast" Timeout=3000 Content="@message" CssClass="@messageStyle">
    <ToastPosition X="Right"></ToastPosition>
</SfToast>

<SfGrid DataSource="@products" AllowPaging="true" AllowSorting="true" AllowFiltering="true" Locale="ru" Toolbar="@toolbar">
    <GridPageSettings PageSize="15"></GridPageSettings>
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog">
        <Template>
            @{
                var Product = (context as ProductViewModel);
                <div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="e-float-text e-label-top">Наименование</label>
                            <SfTextBox ID="Name" @bind-Value="@(Product.Name)"></SfTextBox>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="e-float-text e-label-top">Цена</label>
                            <SfNumericTextBox ID="Price" TValue="decimal" @bind-Value="@(Product.Price)" Min="0.00m" Step="0.01m" Format="0.00##"></SfNumericTextBox>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="e-float-text e-label-top">Артикул</label>
                            <SfTextBox ID="Article" @bind-Value="@(Product.Article)"></SfTextBox>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="e-float-text e-label-top">Ед. измерения</label>
                            <SfDropDownList ID="Unit" TValue="string" TItem="string" @bind-Value="@(Product.Unit)" DataSource="unitParams"></SfDropDownList>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="e-float-text e-label-top">Товара на одно место (для ТТН)</label>
                            <SfNumericTextBox ID="UnitsPerPlace" Min="0m" Step="1m" Format="0.0###" @bind-Value="@(Product.UnitsPerPlace)" TValue="decimal"></SfNumericTextBox>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="e-float-text e-label-top">Вес за единицу (для ТТН)</label>
                            <SfNumericTextBox ID="WeightPerUnit" Min="0m" Step="0.01m" Format="0.0###" @bind-Value="@(Product.WeightPerUnit)" TValue="decimal"></SfNumericTextBox>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <SfCheckBox ID="IsLicenseRequired" @bind-Checked="@(Product.IsLicenseRequired)" Label="Требуется удостоверение"></SfCheckBox>
                        </div>
                    </div>
                </div>
            }
        </Template>
    </GridEditSettings>
    <GridEvents OnActionBegin="OnBeginHandler" TValue="ProductViewModel"></GridEvents>
    <GridColumns>
        <GridColumn Field=@nameof(ProductViewModel.Name) Width="130"></GridColumn>
        <GridColumn Field=@nameof(ProductViewModel.Article) Width="50"></GridColumn>
        <GridColumn Field=@nameof(ProductViewModel.Price) Width="30"></GridColumn>
        <GridColumn Field=@nameof(ProductViewModel.Unit) Width="40"></GridColumn>
        <GridColumn Field=@nameof(ProductViewModel.WeightPerUnit) Width="70"></GridColumn>
        <GridColumn Field=@nameof(ProductViewModel.UnitsPerPlace) Width="80"></GridColumn>
        <GridColumn Field=@nameof(ProductViewModel.IsLicenseRequired) Width="70">
            <Template>
                @{
                    var product = (context as ProductViewModel);

                    if (product.IsLicenseRequired)
                    {
                        <span class="e-icons check-icon"></span>
                    }
                    else
                    {
                        <span class="e-icons cross-icon"></span>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>

@inject IProductService productService
@inject Spinner spinner

@code {
    SfToast toast;
    public IEnumerable<string> toolbar = new[] { "Add", "Edit", "Delete" };

    private string message;
    private string messageStyle;
    public IEnumerable<string> unitParams = new[] { "шт", "кг" };
    public List<ProductViewModel> products;

    protected override void OnInitialized()
    {
        spinner.ShowAsync();

        LoadProducts();

        if (products == null)
        {
            Failed("Не удалось загрузить продукты");
        }

        spinner.HideAsync();
    }

    private void OnBeginHandler(ActionEventArgs<ProductViewModel> args)
    {
        spinner.ShowAsync();

        var product = args.Data;
        if (args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
        {
            if (args.Action == "Add")
            {
                var response = productService.Add(product);
                if (response.IsSuccess)
                {
                    LoadProducts();
                    StateHasChanged();
                    Success("Продукт успешно добавлен");
                }
                else
                {
                    Failed("Не удалось добавить продукт");
                }
            }
            else
            {
                var response = productService.Update(product);
                if (response.IsSuccess)
                {
                    LoadProducts();
                    StateHasChanged();
                    Success("Продукт успешно изменен");
                }
                else
                {
                    Failed("Не удалось изменить продукт");
                }
            }

            args.Cancel = true;
        }
        else if (args.RequestType == Syncfusion.Blazor.Grids.Action.Delete)
        {
            var response = productService.Delete(product.Id);
            if (response.IsSuccess)
            {
                LoadProducts();
                StateHasChanged();
                Success("Продукт успешно удален");
            }
            else
            {
                Failed("Не удалось удалить продукт");
            }

            args.Cancel = true;
        }

        spinner.HideAsync();
    }

    private void LoadProducts()
    {
        var data = productService.Get();
        if (data.IsSuccess)
        {
            products = data.Data.ToList();
        }
    }

    private async Task Success(string message)
    {
        this.message = message;
        messageStyle = "e-toast-success";
        await Task.Delay(100);
        await toast.Show();
    }

    private async Task Failed(string message)
    {
        this.message = message;
        messageStyle = "e-toast-danger";
        await Task.Delay(100);
        await toast.Show();
    }
}