﻿<div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label class="e-float-text ">Наименование</label>
            <SfTextBox ID="Name" @bind-Value="@(Customer.Name)" ShowClearButton="true"></SfTextBox>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label class="e-float-text ">Тип клиента</label>
            <SfDropDownList ID="Type" TValue="CustomerType" TItem="EnumEnvelope" @bind-Value="@Customer.Type" DataSource="@customerTypes">
                <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
            </SfDropDownList>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="e-float-text ">Телефон</label>
            <SfTextBox ID="Phone" @bind-Value="@(Customer.Phone)" ShowClearButton="true"></SfTextBox>
        </div>
        <div class="form-group col-md-6">
            <label class="e-float-text ">Почта</label>
            <SfTextBox ID="Mail" @bind-Value="@(Customer.Email)" ShowClearButton="true"></SfTextBox>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="e-float-text ">Дата договора</label>
            <SfDatePicker ID="ContractDate" TValue="DateTime" @bind-Value="@(Customer.ContractDate)"></SfDatePicker>
        </div>
        <div class="form-group col-md-6">
            <label class="e-float-text ">Номер договора</label>
            <SfTextBox ID="ContractNumber" @bind-Value="@(Customer.ContractNumber)" ShowClearButton="true"></SfTextBox>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <SfCheckBox ID="IsPrepayment" @bind-Checked="@(Customer.IsPrepayment)" Label="Работа по предоплате"></SfCheckBox>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label class="e-float-text ">Адрес</label>
            <SfTextBox ID="Address" @bind-Value="@(Customer.Address)" ShowClearButton="true"></SfTextBox>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label class="e-float-text ">Адрес доставки</label>
            <SfTextBox ID="DeliveryAddress" @bind-Value="@(Customer.DeliveryAddress)" ShowClearButton="true"></SfTextBox>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label class="e-float-text ">Комментарий</label>
            <SfTextBox ID="Note" @bind-Value="@(Customer.Note)" ShowClearButton="true"></SfTextBox>
        </div>
    </div>
    @if (Customer.Type == CustomerType.Person)
    {
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="e-float-text ">Номер паспорта</label>
                <SfTextBox ID="PassportNumber" @bind-Value="@(Customer.PassportNumber)"></SfTextBox>
            </div>
            <div class="form-group col-md-6">
                <label class="e-float-text ">Личный номер</label>
                <SfTextBox ID="PassportUniqueCode" @bind-Value="@(Customer.PassportUniqueCode)"></SfTextBox>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="e-float-text ">Дата рождения</label>
                <SfDatePicker TValue="DateTime?" @bind-Value='@(Customer.BirthDate)'></SfDatePicker>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label class="e-float-text ">Выдан (в творительном падеже (когда и кем))</label>
                <SfTextBox ID="Delegate" @bind-Value="@(Customer.Delegate)" Placeholder="например «06.11.2008 года Рогачевским РОВД Гомельской области»"></SfTextBox>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label class="e-float-text ">Прописка</label>
                <SfTextBox ID="RegistrationAddress" @bind-Value="@(Customer.RegistrationAddress)"></SfTextBox>
            </div>
        </div>
    }
    else
    {
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="e-float-text ">УНП</label>
                <SfTextBox ID="UNP" @bind-Value="@(Customer.UNP)" ShowClearButton="true"></SfTextBox>
            </div>
            <div class="form-group col-md-6">
                <label class="e-float-text ">Банк</label>
                <SfTextBox ID="BankName" @bind-Value="@(Customer.BankName)"></SfTextBox>
            </div>
        </div>
        if (Customer.Type == CustomerType.Organisation)
        {
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label class="e-float-text ">Представитель (в родительном падеже (кого))</label>
                    <SfTextBox ID="Delegate" @bind-Value="@(Customer.Delegate)" Placeholder="например «директора Петровой Елены Альбертовны»"></SfTextBox>
                </div>
            </div>
        }
        <div class="form-row">
            <div class="form-group col-md-12">
                <label class="e-float-text ">Адрес банка</label>
                <SfTextBox ID="BankAddress" @bind-Value="@(Customer.BankAddress)"></SfTextBox>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label class="e-float-text ">БИК</label>
                <SfTextBox ID="BankCode" @bind-Value="@(Customer.BankCode)" ShowClearButton="true"></SfTextBox>
            </div>
            <div class="form-group col-md-8">
                <label class="e-float-text ">Расчетный счет</label>
                <SfMaskedTextBox ID="CheckingAccount" @bind-Value="@(Customer.CheckingAccount)" ShowClearButton="true"></SfMaskedTextBox>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public CustomerViewModel Customer { get; set; }

    private List<EnumEnvelope> customerTypes;

    protected override void OnInitialized()
    {
        customerTypes = Enum.GetValues(typeof(CustomerType)).Cast<CustomerType>()
            .Select(x => new EnumEnvelope {Name = x.GetDescription(), Value = x})
            .ToList();
    }
}
