﻿@using Syncfusion.Blazor.Lists
@using SelectionMode = Syncfusion.Blazor.DropDowns.SelectionMode


<SfDialog Width="400px" Height="600px" ShowCloseIcon="true" IsModal="true" @bind-Visible="@IsProductSelectorVisible">
    <DialogTemplates>
        <Header> Товары в заказе </Header>
        <Content>
            <SfListBox TValue="int[]" DataSource="@products" TItem="ProductViewModel" @bind-Value="@SelectedProductIds">
                <ListBoxFieldSettings Text="Name" Value="Id" />
                <ListBoxSelectionSettings ShowCheckbox="true" Mode="SelectionMode.Multiple"></ListBoxSelectionSettings>
                <ListBoxEvents TValue="int[]" TItem="ProductViewModel" ValueChange="OnProductSelect"></ListBoxEvents>
            </SfListBox>
        </Content>
    </DialogTemplates>
</SfDialog>

<div style="width: 550px;">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label class="e-float-text e-label-top">Клиент</label>
        </div>
        <div class="form-group col-md-8">
            <SfDropDownList TValue="int" TItem="CustomerViewModel" Placeholder="Клиент" DataSource="@customers" @bind-Value="Order.CustomerId" AllowFiltering="true" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains">
                <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                <DropDownListEvents TValue="int" TItem="CustomerViewModel" OnValueSelect="OnCustomerSelect"></DropDownListEvents>
                <DropDownListTemplates TItem="CustomerViewModel">
                    <ItemTemplate>
                        @{ 
                            var customer = context as CustomerViewModel;
                            <span>
                                <span class='name'>
                                    @customer.Name
                                </span>
                                @if (!string.IsNullOrWhiteSpace(customer.Note))
                                {
                                    <span class='customer-note'>
                                        <SfTooltip ID="Tooltip" Target="#btn" Content="@customer.Note">
                                            <SfButton ID="btn" CssClass="e-small e-round" IsPrimary="true" Content="?"></SfButton>
                                        </SfTooltip>
                                    </span>
                                }
                            </span>
                        }
                    </ItemTemplate>
                </DropDownListTemplates>
            </SfDropDownList>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label class="e-float-text e-label-top">Телефон</label>
        </div>
        <div class="form-group col-md-8">
            <SfTextBox ID="Phone" @bind-Value="@(Order.Phone)"></SfTextBox>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label class="e-float-text e-label-top">Адрес доставки</label>
        </div>
        <div class="form-group col-md-8">
            <SfTextBox ID="DeliveryAddress" @bind-Value="@(Order.DeliveryAddress)"></SfTextBox>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label class="e-float-text e-label-top">Скидка</label>
        </div>
        <div class="form-group col-md-8">
            <SfNumericTextBox Min="0" Step="0.05m" Max="1" Format="p0" @bind-Value="@(Order.Discount)" TValue="decimal"></SfNumericTextBox>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="e-float-text e-label-top">Номер соглашения</label>
            <SfTextBox ID="AgreementNumber" @bind-Value="@(Order.AgreementNumber)"></SfTextBox>
        </div>
        <div class="form-group col-md-6">
            <label class="e-float-text e-label-top">Номер удостоверения</label>
            <SfTextBox ID="CertificateNumber" @bind-Value="@(Order.CertificateNumber)" Enabled="@(Order.IsCertificateNeeded)"></SfTextBox>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label class="e-float-text e-label-top">Комментарий</label>
        </div>
        <div class="form-group col-md-8">
            <SfTextBox ID="Note" @bind-Value="@(Order.Note)"></SfTextBox>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <SfCheckBox ID="IsLicenseProductsGrouped" @bind-Checked="@(Order.IsLicenseProductsGrouped)" Label="Группировать дробь и картечь в документах"></SfCheckBox>
        </div>
    </div>
    <div class="form-row">
        <SfButton @onclick="@OpenProductSelector" CssClass="e-link">@(Order.Id == default ? "Добавить товары" : "Изменить товары")</SfButton>
    </div>
    <div class="form-row">
        <SfListView DataSource="@Order.OrderItems" Height="250px">
            <ListViewFieldSettings TValue="OrderItemViewModel" Id="Id" Text="Product.Name"></ListViewFieldSettings>
            <ListViewTemplates TValue="OrderItemViewModel">
                <Template>
                    @{
                        var orderItem = context as OrderItemViewModel;
                        <div class="form-row">
                            <div>@orderItem.ProductName</div>
                            <div style="margin-left: auto">
                                <SfNumericTextBox Min="0" Step="1" @bind-Value="@(orderItem.Quantity)" TValue="int" Width="90px"></SfNumericTextBox>
                            </div>
                        </div>
                    }
                </Template>
            </ListViewTemplates>
        </SfListView>
    </div>
</div>

@inject ICustomerService customerService
@inject IProductService productService
@inject IOrderService orderService

@code {
    [Parameter]
    public OrderViewModel Order { get; set; }

    public int[] SelectedProductIds { get; set; }
    public bool IsProductSelectorVisible { get; set; } = false;

    private List<CustomerViewModel> customers;
    private List<ProductViewModel> products;

    protected override void OnInitialized()
    {
        var customersData = customerService.Get();
        if (customersData.IsSuccess)
        {
            customers = customersData.Data.ToList();
        }

        var productsData = productService.Get();
        if (productsData.IsSuccess)
        {
            products = productsData.Data.ToList();
        }

        SelectedProductIds = Order.OrderItems.Select(x => x.ProductId).ToArray();
    }

    public void OnCustomerSelect(SelectEventArgs<CustomerViewModel> args)
    {
        var customer = args.ItemData;
        Order.Phone = customer.Phone;
        Order.DeliveryAddress = customer.DeliveryAddress;

        var response = orderService.GetDocumentNextNumber(customer.Id);
        if (response.IsSuccess)
        {
            Order.AgreementNumber = response.Data.ToString();
            Order.CertificateNumber = response.Data.ToString();
        }

        StateHasChanged();
    }

    private void OpenProductSelector()
    {
        this.IsProductSelectorVisible = true;
    }

    private void OnProductSelect(ListBoxChangeEventArgs<int[], ProductViewModel> args)
    {
        var newSelectedProducts = args.Value;
        var existingProducts = Order.OrderItems.Select(x => x.Product.Id);
        var toRemove = existingProducts.Except(newSelectedProducts);
        var toAdd = products.Select(x => x.Id).Intersect(newSelectedProducts);

        Order.OrderItems.RemoveAll(x => toRemove.Contains(x.ProductId));
        foreach (var productId in toAdd)
        {
            if (Order.OrderItems.Any(x => x.ProductId == productId))
            {
                continue;
            }

            Order.OrderItems.Add(new OrderItemViewModel
            {
                OrderId = Order.Id,
                ProductId = productId,
                Product = products.Single(x => x.Id == productId),
                Quantity = 0
            });
        }

        StateHasChanged();
    }
}

<style>
    .customer-note {
        right: 15px;
        position: absolute;
    }
</style>
